.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.header-primary-nav {
    height: 60px;
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgb(245, 245, 245);
    box-shadow: 0 1px 5px;
}

.header-primary-nav #logo {
}

#logo {
    color: rgb(67, 176, 42);
}

input {
  padding: 5px;
}

.col-lg-4 {
  border: 3px solid white;
  border-radius: 4px;
}
